<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <style>
        *{
            margin: 0px auto;
        }
        table{
            padding: 15px;
        }
        h1{
            text-align: center;
        }
        th{
            background-color: black;
            color: white;
        }
        td{
            
            padding: 15px;
        }
        

    </style>
</head>
<body>
    <div id="container">
    <h1>Amadon Store!</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/checkout" method="post">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td><input type="hidden" name="price" value="{{product.price}}">{{product.price}}</td>
                    <td><select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select></td>
                    <input type='hidden' name='product_id' value='1015' />
                    <td><input type="submit" value="Buy!"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>